@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream-3Light';
    font-weight: normal; 
    font-style: normal;
    src: url('../font/S-CoreDream-3Light.woff') format('woff');
    
}

@font-face {
    font-family: 'S-CoreDream-9Black';
    font-weight: normal; 
    font-style: normal;
    src: url('../font/S-CoreDream-9Black.woff') format('woff');
    
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal; 
    font-style: normal;
    src: url('../font/S-CoreDream-4Regular.woff') format('woff');
    
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    font-weight: normal; 
    font-style: normal;
    src: url('../font/S-CoreDream-5Medium.woff') format('woff');
    
}

