@charset "utf-8";

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, thead, tbody, tfoot,  tr, th, td, input, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, video, audio
{margin:0; padding:0; border:0; font-size:14px; font-style:normal; font-weight:normal; text-decoration:none; text-align:left; vertical-align:middle; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

* {-webkit-text-size-adjust:none;}

ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}

button {overflow:hidden; padding:0; margin:0; border:none; background:transparent; outline: 0; cursor: pointer;}

input {vertical-align:middle;}

input[type=text], input[type=number], input[type=search], input[type=date], input[type=password], textarea {-webkit-border-radius:0; border-radius:0; -webkit-appearance:none; appearance:none; outline: 0;}

select{-webkit-border-radius:0; border-radius:0; -webkit-appearance:none; appearance:none; outline: 0;}

a {color:inherit;}
img {border:0; vertical-align:top;}
legend {display:none;}
b {font-weight:bold;}
select {margin:0; padding:0;}
/*
	table default markup is
	table class="" border="1" cellspacing="0" summary=""
*/
table {table-layout:fixed; width:100%;}
table, th, td {border-collapse:collapse; border-spacing:0; border:0;}
table thead th {text-align:center;}
table caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0; visibility:hidden;}


/* skipNav */
.skipnav { position: absolute; top:0; left:0; z-index:1000; width:100%; }
.skipnav a {display:block; position: absolute; top: -9999px; width:100%;}
.skipnav a:hover,
.skipnav a:active,
.skipnav a:focus {display:block; top: 0; width:100%; padding:10px 0; color:yellow; font-weight: bold; text-align: center; background-color: #000;}

em {font-style:normal;}
strong {font-weight:normal;}










